/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #000000;
}

a {
  color: #333333;
}

a:hover {
  color: #00A87B;
}

/* NAV
* ----------------------------------------*/

.navbar {
  background-color: rgb(245, 245, 245);
}

.navbar li {
  transition: 0.3s background-color;
  text-align: center;
  background-color: transparent;
  padding: 0rem 1rem;
  text-decoration: none;
  border-radius: 0.3rem;
}

.navbar li:hover {
  color: #333333;
  background-color: #00A87B;
}

.navbar li .nav-link {
  color: #333333;
}

.navbar li:hover .nav-link {
  color: #333333;
}

.dropdown-menu {
  background-color: rgb(250, 250, 250);
}

.dropdown-item {
  color: #333333;
}

.dropdown-item:hover {
  background-color: #00A87B;
}

/* Top Banner Navigation
-------------------------------------------------- */
.announcement-content a {
  padding-right: 1em;
}

.announcement-content a:hover {
  color: fuchsia;
}

/* Splash element
-------------------------------------------------- */
.splash {
  width: 99vw;
  height: 99vh;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-align: center;
}

.splash-sky {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.star-animation {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-image: url("_static/images/star-hemispheres.svg");
  background-repeat: no-repeat;
  z-index:1;
}

.star-animation:before,
.star-animation:after {
  display: block;
  position: absolute;
  content: "";
  width: 2560px;
  height: 2560px;
  margin-top: -1280px;
  margin-left: -1280px;
  transform-origin: center;
  background-position: top;
  background-repeat: repeat-x;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.star-animation:before {
  background-size: 100% auto;
  -webkit-animation: rotate 130s infinite linear;
  -moz-animation: rotate 130s infinite linear;
  -o-animation: rotate 130s infinite linear;
  animation: rotate 130s infinite linear;
}

.star-animation:after {
  background-size: 100% auto;
  -webkit-animation: rotate 130s infinite linear;
  -moz-animation: rotate 130s infinite linear;
  -o-animation: rotate 130s infinite linear;
  animation: rotate 130s infinite linear;
}

/* Star Animation
-------------------------------------------------- */

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.splash-mountain {
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-top: 10%;
  padding: 0;
  top: 30%;
  background-repeat: no-repeat;
  z-index: 2;
}

.splash-container {
  z-index: 3;
  text-align: center;
  margin-top: 7%;
}

.splash-image {
  max-width: 25%;
  min-width: 25em;
  top: 25%;
  z-index: 3;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 5em;
}

.splash-text {
  color: black;
  text-align: center;
  padding: 5%;
}

.splash-text h1 {
  font-size: 2.5rem;
}

.splash-text h4 {
  font-size: 1.5rem;
}

.splash-text p {
  padding: 5px; 
}

/* Responsive layout for tablets 
-------------------------------------------------- */
@media (min-width: 768px) and (max-width: 991px) {
  .splash-text {
    padding: 10%;
  }
  .main-features .col-lg-4 {
    padding: 5% 0;
  }
  .main-features .col-lg-4 p {
    padding: 0 10%;
  }
}

/* Responsive layout for phones 
-------------------------------------------------- */
@media (max-width: 767px) {
  .star-animation {
    min-width: auto;
  }

  .splash {
    min-height: 100%;
  }

  .splash-image {
    margin: 0 auto;
    max-height: 15rem;
    min-width: 15rem;
  }

  .splash-text h1 {
    font-size: 2rem;
  }

  .splash-text h4 {
      font-size: 1rem;
      padding: 5px;
  }
}

/* Buttons
-------------------------------------------------- */
.outline-asdf {
  color: #31373e;
  background-color: transparent;
  border-color: #11c192;
}

.filled-asdf {
  color: #fff;
  background-color: #00A87B;
  border-color: #11c192;
}

.filled-asdf:hover {
  color: #000;
  background-color: transparent;
  border-color: #11c192;
}

/* Icons
-------------------------------------------------- */
.icon {
  color: fuchsia;
  margin-bottom: 10px 0;
}

/* Feature Elements
-------------------------------------------------- */
.main-features {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 3rem;
}

.main-features .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.main-features h2 {
  font-weight: 400;
}

.main-features .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.section-divider {
  margin: 5rem;
  display: flex;
  align-items: center;
  text-align: center;
}

/* FOOTER
-------------------------------------------------- */
footer {
  position: absolute
}

/* RTD Sphinx overrides
-------------------------------------------------- */
div.admonition {
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  overflow: hidden;
}

div.admonition:active {
  width: 150%
}

div.note:active {
  width: 100%
}

div.highlight-yaml {
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  overflow: hidden;
}

div.highlight-yaml:active {
  width: 150%
}

div.highlight-default {
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  overflow: hidden;
}

div.highlight-default:active {
  width: 150%
}

div.highlight-python {
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  overflow: hidden;
}

div.highlight-python:active {
  width: 150%
}